@model Store.Data.DataDbContext.AspNetUser

@{
    ViewBag.Title = "DeleteAccount";
    Layout = "~/Areas/Admin/Views/Shared/HomeAdmin.cshtml";
}


<div>
    <h4>Bạn có chắc muốn xóa tài khoảng này </h4>
    <hr />
    <div class="form-horizontal">


        <div class="form-group">

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
            <div class="col-md-11 col-sm-9 col-xs-12">
                <span class="form-control" readonly>@Html.DisplayFor(model => model.Email)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
            <div class="col-md-11 col-sm-9 col-xs-12">
                @Html.DisplayFor(model => model.EmailConfirmed)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
            <div class="col-md-11 col-sm-9 col-xs-12">
                <span class="form-control" readonly>@Html.DisplayFor(model => model.UserName)</span>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ID_Customer, htmlAttributes: new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
            <div class="col-md-11 col-sm-9 col-xs-12">
                <span class="form-control" readonly>@Html.DisplayFor(model => model.ID_Customer)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Avartar, htmlAttributes: new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
            <div class="col-md-11 col-sm-9 col-xs-12">
                @Html.DisplayFor(model => model.Avartar)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
            <div class="col-md-11 col-sm-9 col-xs-12">
                <span class="form-control" readonly>@Model.status</span>

            </div>
        </div>


    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Trở lại danh sách", "AccountList")
        </div>
    }
</div>
